.main_chat
  .main_header
    .main_header__group
      .main_header__group__current_group
        = @group.name
      .main_header__group__mennber_list
        Menber:
        - @group.users.each do |user|
          = user.name
    .main_header__edit_btn
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get
  .main_contents
    - @messages.each do |message|
      .main_contents__user{"data-message-id": "#{message.id}"}
        = message.user.name
        .main_contents__date{"data-message-id": "#{message.id}"}
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .main_contents__message
      - if message.content.present?
        %p.main_contents__message__content{"data-message-id": "#{message.id}"}
          = message.content
      = image_tag message.image.url, class: 'main_contents__message__image' if message.image.present?
  .main_form
    = form_for [@group, @message] do |f|
      = f.text_field :content,  class: 'main_form__inputbox', placeholder: "type a massage", class: "type_a_message" 
      = f.label :image, class: "main_form__inputbox__black_icon" do
        = icon('far', 'image', class: "black_icon")
        = f.file_field :image, class: 'hidden'
      = f.submit "Send", class: 'main_form__btn'