.main_chat
  .main_header
    .main_header__group
      .main_header__group__current_group
        = @group.name
      .main_header__group__mennber_list
        - @group.users.each do |user|
          Menber :
          = user.name
    .main_header__edit_btn
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get
  .main_contents
    - @messages.each do |message|
      .main_contents__user
        = message.user.name
        .main_contents__date
          = message.created_at.strftime("%Y/%m/%d %H:%M:%S")
      .main_contents__massage
        = message.content
  .main_form
    = form_for [@group, @message] do |f|
      = f.text_field :content,  class: 'main_form__inputbox', placeholder: "type a massage", class: "type_a_message" 
      = f.label :image, class: "main_form__inputbox__black_icon" do
        = icon('far', 'image', class: "black_icon")
        = f.file_field :image, class: 'hidden'
      = f.submit "Send", class: 'main_form__btn'