.side_ber
  .side_header
    .side_header__name
      = current_user.name
    .side_header__btn
      = link_to new_group_path do
        = icon('fas', 'edit', class: "white_icon")
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'white_icon')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。